<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .nav{
        background-color: rgb(43, 112, 140);
        width:100%;
        height: 50px;
        gap: 50px;
    }
    .nav a{
        color: white;
        margin-left: 15px;
        text-decoration: none;
        margin-top: 20px;
    }
</style>
<body>
    <div class="nav">
        <a href="demo">Home</a>
        <a href="contact">Contact</a>
    </div>
    <h1>yahoo</h1>
    
</body>
</html>