<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .nav{
        background-color: rgb(44, 168, 217);
        width:100%;
        height: 50px;
        gap: 50px;
    }
    .nav a{
        color: white;
        margin-left: 15px;
        text-decoration: none;
        margin-top: 20px;
    }
</style>
<body>
    <div class="nav">
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
    <h1>WELCOME</h1>
    <form action="add" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter name" name="name">
        <input type="number" placeholder="Enter age" name="age">
        <input type="submit" value="submit">

    </form>
    
</body>
</html>