<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        {{data1}}
    </h1>
    <table border="1">
        <tr>
            <th>name</th>
            <th>age</th>
        </tr>

        {% for i in data  %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="add_dtls">Add Details</a>
</body>
</html>