body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    }
    
    h1 {
    color: #333;
    }
    
    form {
    margin-bottom: 20px;
    }
    
    form input[type="number"],
    form input[type="text"],
    form input[type="submit"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    form input[type="submit"] {
    background-color: #056875;
    color: white;
    cursor: pointer;
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    }
    
    th, td {
    padding: 12px;
    border: 1px solid #a19d9d;
    }
    
    th {
    background-color: #056875;
    color: white;
    }
    
    tr:nth-child(even) {
    background-color: #f2f2f2;
    }