<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Student</h2>
    <!-- {{data}} -->
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" name="roll_no" id="" value="{{data.roll_no}}">
        <input type="text" name="name" id="" value="{{data.name}}">
        <input type="text" name="age" id="" value="{{data.age}}">
        <input type="submit" value="Update">
    </form>
</body>
</html>